*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.container{
width: 100%; 
/* border: 1px solid; */
margin: auto;
display: flex;
flex-direction: column;
/* gap: 70px; */
}
header{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    padding: 10px 0px;
}
.img_1{
    width: 70%;
}
.head{
     width: 45%;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
}
.head a{
    text-decoration: none;
    color: black;
}
#login{
    padding: 4px 10px;
    background-color: transparent;
    color: #4CAF4F;
    border: none;
}
#signup{
    padding: 5px 8px;
    font-size: small;
    background-color: #4CAF4F;
    border-radius: 4px;
    color: white;
    border: none;
}
.home_1{
    width: 100%;
    display: flex;
    padding: 40px 0px;   
    /* gap: 50px; */
    /* column-gap: 60px; */
    background-color: rgb(251, 250, 248);
}
.home_1_left{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;

}
.h1_2{
    color:  rgb(59, 211, 59);
}
.home_1_right_img{
    width: 60%;
    display: flex   ;
    justify-content: end;
    
}
.home_1_right{
    display: flex;
    justify-content: left;
}
.register{
        width: fit-content;
        padding: 15px 20px;
        background-color: rgb(59, 211, 59);
        border: none;
        border-radius: 8px;
        color: white;
        
}
.home_2_1{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home_2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.home_2_2{
    display: flex;
    justify-content: space-evenly;
    
}
.home_2_img{
    width: 3%;
}
.img_home_3_2_1{
    width: 30%;
    margin: auto;
    
}
.home_3_1{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home_3_2{
    display: flex;
    justify-content: space-evenly;
}
.home_3_2_1{
    /* border: 1px solid; */
    width: 150px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 9px;
    padding: 0px 10px;
}

p{
    font-size: 13px;
}
.home_3_2_1 h3{
    text-align: center;
    
}
.home_3_2_1 p{
    text-align: center;
}
.home_3{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Home{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.body_1{
    display: flex;
    /* border: 1px solid; */
    justify-content: space-evenly;
    padding:  0px 50px;
}
.body_1_left{
    /* margin-bottom: 100px; */

}
.body_1_right{
 padding-top: 100px;
 display: flex;
 width: 40%;
 flex-direction: column;
 gap: 20px;
}
.Learn{
    background-color: #4CAF4F;
   width: fit-content;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 20px;
}  
.data{
    display: flex;
    padding: 10px 50px;
    justify-content: space-evenly;
    background-color: #F5F7FA;
}
.dataleft{
width: 50%;
/* text-align: center; */
padding: 40px 70px;
display: flex ;
flex-direction: column;
/* gap: 30px; */


}
.datacolor{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.datacolor h1{
    color: #4CAF4F;
/* }
.dataright{
    width: 540px;
    height: 160px;
   display: grid;
   grid-template-columns: 1fr 1fr;
    justify-content: center;
    /* border: 1px solid; */
}
.dataright_1{
    display: flex;
    width: 255px;
    height: 60px;
    gap: 16px;
    padding: 20px 20px;

}
.img{
    width: 46px;
    height: 31px;
    height: 30px;
}
.datatext{
    display: flex;
    flex-direction: column;
}
.section{
    display: flex;
    width: 100%;
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* row-gap: 300px; */
    column-gap: 100px;
    padding: 10px 90px;
}
    .sectionleft{
    /* width: 441px;
    height: 431px; */
    width: 50%;
    }
.sectionright{
    width: 50%;
/* width: 661px; */
/* height: 360px; */
display: flex;
flex-direction: column;
/* justify-content: space-evenly; */
gap: 30px;
margin: 80px 100px;
}
.article{
    display: flex;
    justify-content: space-evenly;
    width: 1423px;
    height: 390px;
    /* gap: 78px; */
    background-color: #F5F7FA;

}
.articleleft{
    width: 326px;
    height: 326px;  
}
.articleright{
    width: 748px;
    height: 324px;
    /* gap: 32px; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logo{
    width: 5%;

}
.articlerightimg{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}
.articlerightimg a{
    text-decoration: none;
    color: #4CAF4F;
} 
.radio{
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
}
.radiotop{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    width: 1110px;
    height: 124px;
}
.radiotop p{
    width: 628px;
    height: 72px;
    margin: auto;
}
.radiodown{
    display: flex;
    /* justify-content: space-evenly; */
    padding: 0px 140px;
    gap: 30px;
    /* position: relative; */
}
.radioimg{
    width: 368px;
    height: 286px;
}
.radioimg_1{
    position: relative;
}
.card{
    background-color: #F5F7FA;
    width: 317px;
    height: 177px;
    padding: 30px 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 position: absolute;
 top: 160px;
 right: 25px;
 z-index: 1;
}
.card span{
    color: #717171;
    /* text-align: center; */
    width: 285px;
    /* height: 84px; */
}
.card a{
    text-align: center;
    text-decoration: none;
    color:  #4CAF4F;
}

.radioimg_2{
    position: relative;
}
.card_2{
    background-color: #F5F7FA;
    width: 317px;
    height: 177px;
     display: flex;
    flex-direction: column;
    gap: 20px;
      padding: 20px 15px;
    position: absolute;
    top: 160px;
    right: 25px;
    z-index: 1;
    border-radius: 5px;
}
.card_2 span{
    color: #717171;
    width: 285px;
}
.card_2 a{
    text-align: center;
    text-decoration: none;
    color:  #4CAF4F;
}
.radioimg_3{
    position: relative;
}
.card_3{
    background-color: #F5F7FA;
    width: 317px;
    height: 177px;
     display: flex;
    flex-direction: column;
    gap: 20px;
      padding: 30px 30px;
    position: absolute;
    top: 160px;
    right: 25px;
    z-index: 1;
    border-radius: 5px;
}
.card_3 span{
    color: #717171;
    width: 285px;
}
.card_3 a{
    text-align: center;
    text-decoration: none;
    color:  #4CAF4F;
}
.footerup{
    width: 100%;
      display: flex;
      flex-direction: column;
     /* justify-content: center; */
     /* border: 1px solid; */
     gap: 20px;
   background-color: #F5F7FA;
}
.footerup h1{
    text-align: center;
}
.footerheading{
    /* text-align: center; */
    width: 887px;
    height: 102px;
    /* border: 1px solid; */
    margin: auto;
}
.footerup button{
     text-align: center;
     display: flex;
     justify-content: center;
     width: 178px;
     height: 52px;
     /* border: 1px solid; */
     margin: auto;
     /* padding-top: 20px; */
     /* padding-bottom: 40px; */
     margin-bottom: 20px;
}
.footerdown{
    display: flex;
    justify-content: space-evenly;
      background-color: #263238;
}
.footerdown_1{
    display: flex;
    flex-direction: column;
     color: white;
    gap: 30px;
}
.one{
/* background-color    : white; */
width: 70%;
padding-top: 20px;
}
.footerdown_2{
display: flex;
flex-direction: column;
 color: white;
gap: 10px;
}
.footerdown_2 h4{
     margin-top: 20px;
}
.footerdown_3{
    display: flex;
flex-direction: column;
 color: white;
gap: 10px;
}
.footerdown_3 h4{
     margin-top: 20px;
}
.footerdown_4{
    display: flex;
    color: white;
flex-direction: column;
gap: 30px;
}
.footerdown_4 h4{
    margin-top: 20px;
}
.footerdown_4 input{
    padding: 8px 10px;
    border-radius: 5px;
    /* color: white; */
    background-color: #f5eaea;
}
@media screen and (min-width: 600px) and (max-width: 769px) {
    /* body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */
     section,article,

}